body {
    /*background: #FFF url(../images/background_main.png) top center;*/
}
header{
	background-color: #fff;
}
img{
	max-width: 100%;
}
ul{
	padding: 0px
}
li{
	list-style: none;
}
a{
	color: black;
}
a:hover{
	text-decoration: none;
}

input{
  border-radius: 0px !important;
}
textarea[name=content]{
  border-radius: 20px;
  background: rgb(238, 238, 238);
}
.textarea-comment{
  margin-bottom: 0px;
}
.comment-child{
  border-left: 2px solid #92aada;
  padding-left: 5px;
}
.error{
  width: 100%;
  color: #dc3545;
}
.home{
	font-size: 14px;
	margin-right: 0px;
	padding:7px 5px;
}
.home:hover{
	background-color: #4267b2;
}
.home.active{
	background-color: #4267b2;
}
.header-logo{
	border-bottom: 1px solid #e0e0e0;
    -webkit-box-shadow: 0px 0px 1px 0px rgba(1, 1, 1, 0.1);
}


.fakeimg {
    height: auto;
    background: #fff !important;
    background-color: #f8f9fa;
    border: 1px solid #e0e0e0;
    box-shadow: 0px 0px 1px 0px rgba(1, 1, 1, 0.1);
}

.facebook{
	padding: 5px 10px;
  color: #fff;
  font-size: smaller;
}

.facebook:hover{
	background-color: blue;
	color: #fff !important;
}
.login-frontend{
  padding: 7px 10px;
  color: #fff;
  font-size: smaller;
}
.social-facebook{
  background: #3B5998;
  color: #fff;
  border-radius: 0px;
  opacity: 0.8;
  margin-bottom: 10px;
  width: 100%
}
.social-twitter{
  background: #55ACEE;
  color: #fff;
  border-radius: 0px;
  opacity: 0.8;
  margin-bottom: 10px;
  width: 100%
}
.social-google{
  background: #dd4b39;
  color: #fff;
  border-radius: 0px;
  opacity: 0.8;
  margin-bottom: 10px;
  width: 100%
}

.social-facebook:hover, .social-twitter:hover, .social-google:hover{
  color: #fff;
  opacity: 1;
}

.login-frontend:hover{
  background-color: #4267b2;
  color: #fff !important;
}
.youtube{
	font-size: smaller;
	padding: 5px 10px;
	color: #fff;
}

.youtube:hover{
	background-color: red;
	color: #fff !important;
}

.google-plus{
	color: #fff;
  padding: 5px 7px;
  font-size: smaller;
}
.google-plus:hover{
	background-color: red;
	color: #fff !important;
}
.menu-top, .menu-top li{
  display: inline-block;
}

.menu-top li a{
	color: #fff !important;
  font-size: 14px;
  padding-right: 5px !important;
  padding-left: 5px !important;
}
.menu-top li:hover{
	background-color: #4267b2;
}
.menu-top li.active{
	background-color: #4267b2;
}

.header-banner, .logo{
	padding: 10px 5px;
}
.header-banner img, .logo img{
    width: 100%;
    height: 100%;
}

.bg-primary{
	background-color: #4267b2 !important;
}
.custom-logo-link img{
    padding-top: 5px;
}
hr.deep-purple{
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    border-top: 1px solid rgba(255, 255, 255, 0.8);
}
.footer-copyright{
	background-color: rgba(0,0,0,.2);
}
.menu-dropdown .nav-link{
	color: black !important
}

.main-menu .nav-link{
  color: #fff !important;
  font-weight: 400;
}
.main-menu:hover{
  background-color: #ffffff3b;
}
.fakeimg .widget-head{
	background: #4267b2;
	padding: 6px 0px;
}
.fakeimg .widget-title {
    font-size: 15px;
    font-weight: 700;
    background-color: black;
    display: inline;
}

.news-ticker ul{
	margin-bottom: 0px;
}
.news-ticker ul li{
	float: left;
	margin-right: 10px
}
.news-ticker ul li:last-child{
	float: none;
}

.news-ticker ul li span{
	color: #4267b2;
}
.news-ticker ul li span.title{
	color: black;
}
.news-ticker ul li span:hover{
	color: black;
}

/* main nenu */
/*.navbar .dropdown-menu div[class*="col"] {
   margin-bottom:1rem;
}

.navbar .dropdown-menu {
  border-radius: 0px;
  background-color:#fff!important;
}

.navbar-dark .navbar-nav .nav-link {
    color: rgb(255, 255, 255);
}*/

.btn-info {
    color: #fff;
    background-color: #4267b2;
    border-color: #4267b2;
}
.badge-info{
	background-color: #4267b2;
    border-color: #4267b2;
    border-radius: 0px;
    padding: 4px 6px;
}
.text-info{
	color: #4267b2 !important;
}
.mom-post-meta{
	font-size: 13px;
    color: #c6c6c6;
    line-height: 1.4;
    margin-bottom: 10px;
    overflow: hidden;
}

.single-post-meta {
    padding-bottom: 7px;
    border-bottom: 1px solid #eaeaea;
    margin-bottom: 16px;
}
.entry-content h4{
	border-bottom: dotted 1px #4267b2;
	padding-bottom: 5px;
	margin-top: 30px;
	margin-bottom: 20px;
}

/* breakpoint and up - mega dropdown styles */
@media screen and (min-width: 992px) {

.navbar {
  padding-top:0px;
  padding-bottom:0px;
}

.navbar .main-menu {
  padding: .21rem 0rem;
  border-right: 1px solid #89a0cc;
}

.navbar .main-menu:first-child {
  border-left: 1px solid #89a0cc;
}

.navbar .main-menu.dropdown {position:static;}

.navbar .dropdown-menu {
  width:100%;
  left:0;
  right:0;
  top:45px;
}

.navbar .main-menu.dropdown:hover .dropdown-menu, .navbar .main-menu.dropdown .dropdown-menu:hover {
  display:block!important;
  margin: auto;
}

  .navbar .dropdown-menu {
    border: 1px solid rgba(0,0,0,.15);
    background-color: #fff;
  }

}


/* form search */

input[name=keywork] {
    border-radius: 0px;
}

input{
	outline: none;
}
.search{
	background: #fff;
    color: black;
    border-radius: 0px;
}

input[type=search] {
    width: 220px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    font-size: 16px;
    background-color: white;
    background-image: url(/homes/images/uploads/searchicon.png);
    background-position: 10px 10px;
    background-repeat: no-repeat;
    padding: 6px 20px 6px 30px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out
}

/* When the input field gets focus, change its width to 100% */
input[type=search]:focus {
    width: 100%;
}


/* item news */

.newspaper-x-image{
	width: auto;
	position: relative;
	z-index: 2
}

.newspaper-x-image a{
	width: auto;
}
.newspaper-x-image a img{
	width: 100%;
	object-fit: cover;
	position: relative;
	z-index: 1
}

.newspaper-x-image a img:hover, .post-home img:hover{
  -ms-transform: scale(0.5); /* IE 9 */
  -webkit-transform: scale(0.5); /* Safari 3-8 */
  transform: scale(1.01); 
  opacity: 0.5;
}

.categories ul{
  list-style-type: none;
  margin: 0;
  padding: 0;

  /*background-color: #f1f1f1;*/
}

.categories li a{
  display: block;
  color: #000;
  padding: 8px 5px;
  text-decoration: none;
  border-bottom: 1px dotted #e1e1e1;
  margin-bottom: 2px;
}

/* Change the link color on hover */
.categories li a:hover, .categories li a.active{
  background-color: #4267b2;
  color: white;
  border-bottom: 0px;
}

 .flex-column li a {
 	 border-bottom: 1px dotted #e1e1e1;
 	 padding: 3px 3px;
 }

 .flex-column li a:hover {
   color: #fff !important;
 	 margin-left: 3px;
   background-color: #4267b2;
 }
  /*.dropdown-menu li .dropdown-item:hover {
    background-color: none !important;
    color: #fff;
  }*/
 .nav-main{
 	text-transform: uppercase;

 }

 .text-body{
 	font-weight: 600;
 }
 .text-body:hover{
	color: #4267b2 !important;
 }
.mpw-post{
	border-bottom: 1px solid #eaeaea;
  display: inline-block;
  width: 100%;
  margin-top: 10px
}
.mpw-post .post-img{
	width: 80px;
	float: left;
	margin-right: 10px;
}
.mpw-post .post-img img:hover{
  opacity: 0.7;
  transition: transform .2s;
  transform: scale(1.04);
}
.details h6 a{
	font-size:15px;
}

.post-home h5,p{
	text-align: left;
}

.post-home{
	margin-bottom: 20px;
  min-height: 370px;
}
.post-home img{
  min-height: 236px;
  object-fit: cover;
}

.search-404{
	width: 100%;
	max-width: 300px;
}

.errors-404{
	background: url(../images/bg1.png);
	border: 1px solid #e0e0e0;
    box-shadow: 0px 0px 1px 0px rgba(1, 1, 1, 0.1);
}

.dropdown-menu{
  min-width: 12rem
}

.list-category a:hover {
    color: #3b97f9 !important;
    margin-left: 5px;
}

.modal-content, .alert, button{
    border-radius: 0px !important;
}

.comment-avatar{
  width: 40px;
  border: 1px solid #dee2e6!important;
  border-radius: 50% !important;
  height: 40px;
  object-fit: cover;
}
.reply{
  color: #3b97f9;
  font-size: 14px;
}
.card h5{
  font-size: 15px;
  color: #003194;
}

#goTop {
  background: #b1b2b3;
  position: fixed;
  line-height: 50px;
  width: 50px;
  left: 10px;
  bottom: 25px;
  height: 50px;
  color: #f8f8f8;
  text-align: center;
  font-size: 22px;
  display: none;
  z-index: 1000;
  padding: 0!important;
}
#goTop:hover {
  /* background: #e9ebec; */
  opacity: 0.8;
}
#goTop.show {
  opacity: 1;
}
.enotype-icon-arrow-up:before {
  content: "\f062";
}